# OpenRouter API Configuration
OPENROUTER_API_KEY=openrouter-api-key-here

# Model Configuration
MODEL_NAME=meta-llama/llama-3.3-70b-instruct
MODEL_TEMPERATURE=0.7
MODEL_MAX_TOKENS=4000

# Application Settings
OUTPUT_DIR=outputs
LOG_LEVEL=INFO

# OneDrive Configuration
ONEDRIVE_ENABLED=1
ONEDRIVE_CLIENT_ID=onedrive-client-id-here
ONEDRIVE_CLIENT_SECRET=onedrive-client-secret-here
ONEDRIVE_TENANT_ID=onedrive-tenant-id-here
ONEDRIVE_USER_EMAIL=onedrive-user-email-here #user email of the folder to be used

# Folder to monitor
ONEDRIVE_FOLDER_NAME=folder-name-here
